@tailwind base;
@tailwind utilities;
@tailwind components;

/* ---------------------------------------------------------------------- */
/* Scroll area */

::-webkit-scrollbar {
    @apply bg-gray-300 w-2 h-1;
}

::-webkit-scrollbar-thumb:horizontal {
    @apply bg-gray-400;
}

::-webkit-scrollbar-thumb:vertical {
    @apply bg-gray-400;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------------------------------------------------------- */
/* General area */

.appPX {
    @apply px-4 sm:px-8 md:px-12 lg:px-20 xl:px-24;
}

.glass {
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
}
